*{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
}

.main{
    width: 100%;
    background:transparent ;
    background-color: cornsilk;
    background-position: center;
    background-size: cover;
    height: 110vh;
    
}

.logo{
    margin-top: 10px;
    margin-left: 10px;
    font-family: fantasy;
    font-weight: lighter;
    color: rgb(10, 2, 56);
    
}
 
.heading {
   justify-content: center;
   padding: auto;
   margin-top: 5%;
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
   border-color: black;
   
}
.subh h3{
   background-color: rgb(255, 134, 134);
}
ul mn a{
   float: right;
   width: 100px;
   list-style: none;
    margin-left: 30px;
    margin-top: 16px;
    margin-right: 2px;
    font-size: 22px;
    color: rgb(0, 0, 0);
   font-weight: bolder;
   text-decoration: none;
}
.ul .mn{
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-right: 20px;
   width: 115px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bolder;
    color:rgb(0, 0, 0) ;
    cursor: pointer;
    transition: .4s ease;
    text-decoration: none;
}
.options .ul .a{
   text-decoration: none;
   color: rgb(0, 0, 0);
   transition: 0.4s ease-in;
   cursor: pointer;
}

.options .ul .a:hover{
   color: rgb(255, 255, 255);
}



h2{
    
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    line-height: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 5%;
    letter-spacing: 2.5px;
    
    
 }

 h3{
    
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 3%;
    letter-spacing: 2.5px;
    text-align: center;
    font-weight: bold;
 }

img {
    margin: auto;
    margin-top: 30px;
    display: block;
    justify-self: center;
   box-shadow: 0px 0px 20px black;
    border-width: 10px;
    border-radius: 7px;
    
  }

h5{
    
   justify-content: center;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 30px;
   color: rgb(10, 7, 58);
   padding: auto;
   margin-top: 3%;
   margin: auto;
   letter-spacing: 2.5px;
   text-align: center;
   text-decoration: underline;
 }
 
h4{
    
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 3%;
    margin: auto;
    letter-spacing: 2.5px;
    text-align: center;
    text-decoration: underline;
 }
 h8{
    
    justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 3%;
    letter-spacing: 2.5px;
    text-align: center;
 }

.Info .I1{
    height: auto;
    width: 780px;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    line-height: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    background-color:rgb(255, 214, 175);
    margin: auto;
    padding: auto;

}
 .Info .I1 p{
    width: 750px ; 
    margin-top:  32px;

    justify-content: center;
    text-align: justify;
    font-size: 18px;
    line-height: 35px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color:rgb(255, 214, 175);
    margin: auto;
    padding: auto;
}
.Info{
   text-align: center;
}
.Info .I2{
   width: 800px;
   text-align: justify;
   font-size: 18px;
   line-height: 35px;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-weight: bold;
   border: none;
   margin: auto;
   padding: auto;
}

.Info .I2 h4{
   width: 104%;
   justify-content: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 3%;
    margin: auto;
    letter-spacing: 2.5px;
    text-align: justify;
    text-decoration: underline;
    align-items: center;
}


h4{
    
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: rgb(10, 7, 58);
    padding: auto;
    margin-top: 3%;
    letter-spacing: 2.5px;
    text-align: center;
 }
.End{
   background-color: rgba(211, 211, 211, 0.596);
   height: 100px;
   width: auto;
}
 i{
    width: auto;
    font-family:cursive;
    background-color: rgba(211, 211, 211, 0.596);
 }
s{
   text-decoration: none;
    width: auto;
    float: right;
    margin-right: 100px;
    background-color: rgba(211, 211, 211, 0.596);
 }
  